{% load webpack_static from webpack_loader %}

{% load render_bundle from webpack_loader %}
{% load django_htmx %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Django Webpack{% block title %}{% endblock title %}</title>
    <!-- Base JS -->
    {% render_bundle 'base' 'js' attrs="defer" %}

    <!-- Child JS -->
    {% block additional_scripts %}{% endblock additional_scripts %}

    <!-- Base CSS -->
    {% render_bundle 'base' 'css' %}

    <!-- Child CSS -->
    {% block additional_styles %}{% endblock additional_styles %}

    <!-- Inserts Django HTMX Script to enable debugging when DEBUG = True -->
    {% django_htmx_script %}
  </head>
  <body>
    {% include 'components/header.html' %}
    <img src="{% webpack_static 'images/header.jpg' %}" class="header-image" alt="Header"/>
    {% block content %}{% endblock content %}
  </body>
</html>
