{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpack Examples{% block title %}{% endblock title %}</title>
    {% comment %} {% include 'head_tags/temp.txt' %} {% endcomment %}

    {% include 'head_tags/js/runtime.txt' %}
    {% include 'head_tags/js/lodash_es.txt' %}
    {% include 'head_tags/js/index.txt' %}
    {% include 'head_tags/js/htmx.txt' %}
    {% include 'head_tags/js/alpinejs.txt' %}
    {% include 'head_tags/js/vendor.txt' %}
    {% block additional_js %}{% endblock additional_js %}

    {% include 'head_tags/css/index.txt' %}
    {% block additional_css %}{% endblock additional_css %}
  </head>
  <body>
    {% include 'components/header.html' %}
    <img src="/static/bundles/images/header.jpg" class="header-image" alt="Header"/>
    {% block content %}{% endblock content %}
  </body>
</html>
