<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Webpack Examples{% block title %}{% endblock title %}</title>
    <script defer="defer" src="/static/bundles/js/runtime.b71ee0e856f0.js"></script>
    <script defer="defer" src="/static/bundles/js/core-js.ed46701a4b2c.js"></script>
    <script defer="defer" src="/static/bundles/js/lodash-es.fab2a968ef2b.js"></script>
    <script defer="defer" src="/static/bundles/js/index.b2d64d3531ca.js"></script>
    <script defer="defer" src="/static/bundles/js/htmx.a7f33f837413.js"></script>
    <script defer="defer" src="/static/bundles/js/alpinejs.bb6e519cc640.js"></script>
    <script defer="defer" src="/static/bundles/js/393.13d559e47ee0.js"></script>
    <script defer="defer" src="/static/bundles/js/vendor.b20abeb4f150.js"></script>
    <link href="/static/bundles/css/194.b4f4f606a7aef824657c.css" rel="stylesheet"/>
    <link href="/static/bundles/css/index.4b4400a49fc98eb0db8d.css" rel="stylesheet"/>
    {% block additional_head %}{% endblock additional_head %}
  </head>
  <body>
    {% include 'components/header.html' %}
    <img src="/static/bundles/images/header.jpg" class="header-image" alt="Header"/>
    {% block content %}{% endblock content %}
  </body>
</html>
