{% extends '_base.html' %}

{% load render_bundle from webpack_loader %}

{% block title %}{{ block.super }} | Area of a Circle {% endblock title %}

{% block additional_scripts %}
    {% render_bundle 'circle' 'js' attrs="defer" %}
{% endblock additional_scripts %}

{% block content %}
  <div class="container p-2 mx-auto">
    <div class="mt-2">
      <div class="form-group row">
        <label class="col-2 col-form-label"><span class="float-end fw-bold">Radius:</span></label>
        <div class="col-1">
          <input type="text" id="radius-of-circle" class="form-control" />
        </div>
        <div class="col-9">
          <button class="btn btn-secondary" id="btn-area-of-circle">Calculate Circle Area</button>
        </div>
      </div>
      <div class="row">
        <div id="area-of-circle" class="pt-3"></div>
      </div>
    </div>
  </div>
{% endblock content %}
