{% extends '_base.html' %}

{% block content %}
  <div class="p-5">
    <div class="table-responsive table-striped">
      <table id="datatable-1" class="table table-sm table-responsive-sm table-striped mb-0 text-left">
        <thead class="bg-primary text-white">
          <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Desc</th>
            <th>Is Priority</th>
            <th>Created By</th>
            <th>Created Date/Time</th>
            <th>Updated Date/Time</th>
          </tr>
        </thead>
        <tbody x-data="{{ tasks }}">
          <template x-for="task in tasks" :key="task.id">
            <tr>
              <td x-text="task.id"></td>
              <td x-text="task.title"></td>
              <td x-text="task.desc"></td>
              <td x-text="task.is_priority"></td>
              <td x-text="task.created_by"></td>
              <td x-text="task.created_date"></td>
              <td x-text="task.updated_date"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}

{% block additional_scripts %}
  {{ tasks|json_script:"data" }}
{% endblock additional_scripts %}
