{% load webpack_static from webpack_loader %}

<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <a href="{% url 'core:home' %}" class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none">
      <img src="{% webpack_static 'images/logo.png' %}" alt="" />
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a class="nav-link px-2 link-dark" href="{% url 'core:appointments' %}">Appointments</a>
      </li>
      <li>
        <a class="nav-link px-2 link-dark" href="{% url 'core:area_of_circle' %}">Area</a>
      </li>
      <li>
        <a class="nav-link px-2 link-dark" href="{% url 'core:hx_htmx' %}">HTMX</a>
      </li>
      <li>
        <a class="nav-link px-2 link-dark" href="{% url 'core:alpine' %}">Alpinejs</a>
      </li>
      <li>
        <a class="nav-link px-2 link-dark" href="{% url 'core:tasks' %}">Tasks</a>
      </li>
    </ul>
    <div class="col-md-3 text-end">
      <a href="/admin" target="_blank" type="button" class="btn btn-info me-2">Admin</a>
      <a class="btn btn-dark" href="http://github.com/WayneLambert/django-webpack/" target="_blank">Repo</a>
    </div>
  </header>
</div>
