<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Webpack Examples{% block title %}{% endblock title %}</title><%
for (const tag of htmlWebpackPlugin.tags.headTags) { %>
    <%= tag %><%
} %>
    {% block additional_head %}{% endblock additional_head %}
  </head>
  <body>
    {% include 'components/header.html' %}
    <img src="/static/bundles/images/header.jpg" class="header-image" alt="Header" />
    {% block content %}{% endblock content %}
  </body>
</html>
